<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students</title>

  <style>
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    
    body {
      background-color: #f5f5f5;
    }

    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }

   
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }

    
    p {
      font-size: 1.2em;
      margin-bottom: 30px;
    }

    
    ul {
      list-style: none;
      margin-bottom: 40px;
    }

    
    li {
      margin-bottom: 15px;
    }

   
    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.2s ease-in-out;
      width: 30%;
      /* margin: 1px; */
    }

    
    a:hover {
      background-color: #2E8B57;
    }



  </style>
</head>

<body>
  <div class="container">
    <h1>Welcome to It'z my kart Students page</h1>
    <p>Below are the functionalites for this website</p>
    <ul>

      <li> <a href="/create">Add Student</a></li>
      <li> <a href="/getAllEmployees">Show All Students</a></li>
      <li> <a href="/getAllEmployees">Update Students</a></li>
      <li> <a href="/getAllEmployees">Delete Students</a></li>
    </ul>
  </div>


  <footer class="footer">
    <div class="container">
      <p>&copy; Made By Harinadh Tanna</p>
    </div>
  </footer>

</body>

</html>